title Airport DBMS | Airlines
//  Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
//  Bootstrap CSS 
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href="#") Airport DBMS    
  button.navbar-toggler.d-lg-none(type="button", data-toggle="collapse", data-target="#collapsibleNavId", aria-controls="collapsibleNavId", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#collapsibleNavId
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item
        a.nav-link(href="/home/:username")
          | Home 
          
      li.nav-item
        a.nav-link(href="/listAirlines") 
            |Airlines
            span.sr-only (current)

      li.nav-item
        a.nav-link(href="/admin/list-accounts") Customers
      li.nav-item
        a.nav-link(href="/:id/transactions") Transactions
      li.nav-item.active
        a.nav-link(href="/flights") Flights
      li.nav-item
        a.nav-link(href="/bookFlight") Book A Flight
div
h1 Available Flights
   table.table.table-hover.table-striped
    thead.thead-dark
      th Airline Code
      th Airline Number
      th Date
      th Origin
      th Destination
      th Price
      th Departure Time
      th Arrival Time
      th Days
      th Seats left
      
    tbody

      each flight in flights
        tr
          td=flight.airline_code
          td=flight.flight_number
          td=flight.date
          td=flight.origin
          td=flight.destination
          td=flight.price
          td=flight.departure_time
          td=flight.arrival_time
          td=flight.days
          td=flight.seats_left
div.align-items-center.justify-content
    a(href="/addFlight"): button.btn.btn-success#Add-Flight(type="submit") Add Flights
    a(href="/delFlight"): button.btn.btn-danger#delFlight(type="submit") Delete Flights

script(src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js")
script.
  
  function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);